<body class="" >
   <div class="container">
     <div class="row par">
      <div class="col-7 child1" [ngStyle]="backgroundStyle">
          
      </div>
      <div class="col-5 child2">
       <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.get('Name')?.value,registerForm.get('Email')?.value,registerForm.get('Password')?.value)" class="row g-3 parent ">
        <legend><h2>Sign Up now!</h2></legend>
        <mat-form-field style="width: 100%; height: 80px;">
          <mat-label>Username</mat-label>
          <mat-icon matPrefix>account_circle</mat-icon>
          <input matInput required #emailInp matInput formControlName="Name" type="text" class="inp form-control" id="Name" aria-describedby="emailHelp">
          <mat-error  [hidden]="registerForm.get('Name')?.untouched || !registerForm.get('Name')?.errors?.['required']">
            Username is required
          </mat-error>
        </mat-form-field>
        <mat-form-field style="width: 100%; height: 80px;">
          <mat-label>Email</mat-label>
          <mat-icon matPrefix>mail</mat-icon>
          <input matInput required #emailInp matInput formControlName="Email" type="email" class="inp form-control" id="Email" aria-describedby="emailHelp">
          <mat-error   [hidden]="registerForm.get('Email')?.untouched || !registerForm.get('Email')?.errors?.['required']">
            Email is required
          </mat-error>
        </mat-form-field>
        <mat-form-field style="width: 100%; margin-bottom: 10px; height: 80px;">
          <mat-label>Password</mat-label>
          <mat-icon matPrefix>lock</mat-icon>
          <input matInput required #emailInp formControlName="Password" type="password" class="inp form-control" id="Password" aria-describedby="emailHelp" pattern="[A-Za-z0-9]{8,20}">
          <mat-error   [hidden]="registerForm.get('Password')?.untouched || !registerForm.get('Password')?.errors?.['required']">
            Password is required
          </mat-error>
          <mat-error  [hidden]="registerForm.get('Password')?.valid || registerForm.get('Password')?.untouched">
            Password must be 8~20 alphanumeric (characters or numbers)
          </mat-error>
        </mat-form-field>  
           <div class="">
             <div class="form-check">
               <input class="form-check-input" type="checkbox" id="gridCheck">
               <label class="form-check-label" for="gridCheck">
                 Check me out
               </label>
             </div>
           </div>
           <div class="w-100">
             <button type="submit" [disabled]="registerForm.invalid" class="btn submit-btn">Sign Up</button>
            </div>
            
            <hr>
            <div class="">
             <button type="submit" class="btn submit-btn">continue with google <img src="assets/google.png" alt=""></button>
           </div>
         </form>
      </div>
     </div>
    </div>
</body>