/* General Container Styling */
.container {
    max-width: 80%;
  }
  .parent{
    box-shadow: 0px 0px 50px 5px gray;
    margin: 50px auto;
    border-radius: 10px;
  }
  
  .submit-btn{
    width: 100%;
  }
  legend{
    text-align: center;
    margin: 20px 0;
  }
  .mat-form-field {
    width: 100%;
    height: 80px;
  }
  
  /* Medium screens and above (desktop and tablets) */
  @media (min-width: 768px) {
    .child1 {
      width: 50%;
    }
  
    .child2 {
      width: 42%;
      padding: 20px;
    }
  }
  
  /* Small screens (mobile) */
  @media (max-width: 767px) {
    .row {
      flex-direction: column;
    }
  
  .child2 {
      width: 100%;
      padding: 20px;
    }
  
    .child1 {
        display: none;
    }

     .container{
    max-width: 90%;
  }
  .submit-btn{
    color: white;
    width: 100%;
    background-color:rgb(17, 83, 133);
  }

  .parent{
    position: relative;
    padding: 30px 0;
    height: 600px;
    color: white;
  }
  .parent::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    z-index: -1; /* Ensure the image stays behind the content */
    background: url('/assets/background-register.jpg') no-repeat center center;
    background-size: cover;
    filter: blur(7px);
  }
  }
  
  /* Google Button Styling */
  .submit-btn img {
    width: 20px;
    margin-left: 10px;
  }
  