
div h1{
    font-size:45px;
}
section div p{
    color: black;
    padding: 20px 0px;
}

.child-2{
    border-radius: 50%;
    margin-left:30px ;
    transition: .7s;

}

.Description{
 padding: 50px 0 0 120px;
}
.home-img{
    transition: all 1s;
    padding:30px 120px 0 0  ;
    /* background-color: red; */
}
.home-content{
    transition: all 1s;
}
.home-item1{
    transform: translateY(1500px);
    opacity: 0;
}
.home-item2{
    transform: translateY(-1500px);
    opacity: 0;
}


div.btns{
    padding-left: 120px;
    margin-bottom: 120px;
}

.learn-more{
    color:white ;
    border: 1px solid rgb(17, 83, 133);
    border-radius: 15px;
    background-color: var(--font-color);
    margin-left: 20px;
    border-radius: 10px;
}

/* services */
.services{
  background-color: var(--font-color);
  color: white;
  /* margin-top: 100px; */
  padding: 120px 0;
}
.services-header{
    padding-bottom:50px ;
}

.translate{
    transform: translateX(0);
}


.services-item1{
   transform: translateX(-1000px);
}
.services-item2{
   transform: translateX(1000px);
}

.services-item{
    /* text-align: center; */
    transition: all 1s;
}

.line{
    display: block;
    width: 30px;
    height: 3px;
    background-color: white;
    margin: auto;
}
.line2{
 background-color: var(--font-color);
}
.icons{
    background-color: white;
    color: var(--font-color);
    padding: 10px;
    text-align: center;
    height: 70px;
    width: 70px;
    font-size: 50px;
    border-radius: 50%;
}
.services h4{
  margin: 20px 0;
}

.contact{
    text-align: center;
}
@media(max-width:370px){
    
  div h1{
    font-size:30px;
        /* color: white; */
  }
    .btns{
        text-align: center;
        padding: 40px;
    }
    .submit-btn{
        width: 100%;
        margin-bottom: 10px;
    }
    .learn-more{
        width: 100%;
        margin: 0;
    }
}
@media(max-width:500px){
    .btns{
        text-align: center;
        padding: 40px;
    }
    .submit-btn{
        width: 100%;
        margin-bottom: 10px;
    }
    .learn-more{
        width: 100%;
        margin: 0;
    }
}
@media(max-width:768px){
    .btns{
        text-align: center;
        padding: 40px;
    }
    .submit-btn{
        width: 100%;
        margin-bottom: 10px;
    }
    .learn-more{
        width: 100%;
        margin: 0;
    }
}

@media(max-width:992px){
    .btns{
        text-align: center;
        padding: 40px;
    }
    .submit-btn{
        width: 100%;
        margin-bottom: 10px;
    }
    .learn-more{
        width: 100%;
        margin: 0;
    }
}

