
section.child-1{
 
   
}
 div{
    /* background-color: red; */
    padding: 40px;
}

div h1{
    font-size:45px;
        /* color: white; */
}
section div p{
    color: black;
    padding: 20px 0px;
}
/* button{
    border-radius: 15px;
    color: white;
    border: 1px solid white;
} */

.child-2{
    border-radius: 50%;
    /* width: 300px; */
    margin-left:30px ;
    transition: .7s;

}

.home-content{
    margin: 40px 0px 0px 30px;
    transition: all 1s;
}

.home-item1{
    transform: translateY(1500px);
    opacity: 0;
}
.home-item2{
    transform: translateY(-1500px);
    opacity: 0;
}




.learn-more{
    color:white ;
    border: 1px solid rgb(17, 83, 133);
    border-radius: 15px;
    background-color: var(--font-color);
    margin-left: 20px;
    border-radius: 10px;
}
/* services */
.services{
  background-color: var(--font-color);
  color: white;
}

.translate{
    transform: translateX(0);
}

.services-content{
  /* margin-left: 50px; */
}

.services-item1{
   transform: translateX(-1000px);
}
.services-item2{
   transform: translateX(1000px);
}

.services-item{
    /* text-align: center; */
    transition: all 1s;
}

.line{
    display: block;
    width: 30px;
    height: 3px;
    background-color: white;
    margin: auto;
}
.line2{
 background-color: var(--font-color);
}
.icons{
    background-color: white;
    color: var(--font-color);
    padding: 10px;
    text-align: center;
    height: 70px;
    width: 70px;
    font-size: 50px;
    border-radius: 50%;
}

.services h4{
  margin: 20px 0;
}

.contact{
    text-align: center;
}
