<!-- {{ game|json }} -->

<div class="card container" style="width: 35rem; margin-top: 20px;">
    <img [src]="game?.imgUrl" style=" max-height: 70vh;" class="card-img-top" alt="...">
    <div class="card-body">
      <h3 class="card-title" style="color: var(--font-color);">{{game?.name}}</h3>
    </div><hr>
    <div class="card-body">
      <h5 class="card-title" style="color: var(--font-color);">About the game</h5>
      <p class="card-text">{{game?.description}}</p>
    </div><hr>
    <div class="card-body">
        <h5 class="card-title" style="color: var(--font-color);">Price</h5>
        <p class="card-text">{{game?.price | currency}}</p>
    </div>
    <div class="card-body btns">
        <button #addToCartBtn class="btn btn-danger" (click)="goBack()" style="margin-left: auto;">Back <mat-icon class=" small-icon" >arrow_back</mat-icon></button>
    </div>
   
  </div>



<!-- <div [style.background-image]="getBackgroundImageUrl()" class="background-image">
    <div class="overlay">
        <div class="container parent">
           <h1> Overview: </h1>
           <hr>
            <p>{{game?.description}}</p>
           <h1> Price </h1>
            <p>{{game?.price}}</p>
        </div>
    </div>
  </div>  -->